@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Piazzolla:ital,opsz,wght@0,8..30,200;0,8..30,400;1,8..30,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  font-family: 'Piazzolla', serif;
}

.navbar{
  background-color: white;
}

.navbar-brand{
  font-size: 1.9rem;
  font-weight: 700;
  color: rgb(124, 0, 124);

}

.navbar-nav a {
  font-size: 1.2rem;
  color: rgb(234, 64, 93);
}

.navbar-nav a:hover{
  color: rgb(124, 0, 124);
}

.background{
  background: url("images/bg.jpg") no-repeat;
  background-size: cover;
  height: 700px;
}

.background h3{
  color: rgb(234, 64, 93); 
}

.background h3 span{
  color: rgb(124, 0, 124);
}

 .background {
  font-size: 1rem;
  color: aqua;
}

.background a{
  background: none;
  color: rgb(234, 64, 93); 
  border: 2px solid rgb(234, 64, 93);
}

.background a:hover{
  border: 2px solid rgb(124, 0, 124);
  color: rgb(124, 0, 124);

}
.about_image {
  border: 20px solid rgb(158, 51, 69);
}

.about_image img {
  height: 440px;
  width: 564px;
}

.about h3 span{
  font-size: 3.2rem;
  color: rgb(234, 64, 93); 


}

.end {
  background-color: rgb(216, 215, 215);
}

.end .itemBox.hide {
  display: none;
}

.end h3 span {
  color: rgb(158, 51, 69);
  font-size: 50px;
  font-weight: bolder;
}

.end_input_span {
  background-color: rgb(233, 114, 134);
  color: white;
}

.end_search {
  color: rgb(158, 51, 69);
}

.end_search:hover {
  background-color: rgb(234, 167, 178);
}

.end img {
  height: 207px;
  width: 314px;
}

